---
import Base from "@/layouts/Base.astro";
import {staticPaths} from "@/i18n";
import {ChevronDownIcon} from "lucide-react";
// import Telegram from "simple-icons-astro/Telegram";
import Gmail from "simple-icons-astro/Gmail";
import Github from "simple-icons-astro/Github";
import Project from "@/components/Project.astro";

import AstroIcon from "simple-icons-astro/Astro";
import NextjsIcon from "simple-icons-astro/Nextdotjs";
import SpringIcon from "simple-icons-astro/Spring";
import LaravelIcon from "simple-icons-astro/Laravel";
import VueIcon from "simple-icons-astro/Vuedotjs";
import FastapiIcon from "simple-icons-astro/Fastapi";
import FigmaIcon from "simple-icons-astro/Figma";
import WechatIcon from "simple-icons-astro/Wechat";
import GinIcon from "simple-icons-astro/Gin";
import CodeigniterIcon from "simple-icons-astro/Codeigniter";
import LatexIcon from "simple-icons-astro/Latex";
import GraphqlIcon from "simple-icons-astro/Graphql";
import FlutterIcon from "simple-icons-astro/Flutter";
import CmakeIcon from "simple-icons-astro/Cmake";
import MaterialdesignIcon from "simple-icons-astro/Materialdesign";


export const getStaticPaths = () => staticPaths;
import {loadTranslations} from "@/i18n";

const t = await loadTranslations(Astro.currentLocale);
---
<Base title="Qnury.e's" className="flex flex-col gap-4">
    <!-- Landing -->
    <div class="h-[80vh] w-full font-serif px-24 mb-36 flex flex-col gap-8 justify-between *:py-16 *:w-full" data-aos="fade-in" data-aos-duration="1000">
        <div class="text-3xl">
            <h1>{t('landing.welcome')}</h1>
        </div>
        <div class="text-2xl text-end *:tracking-wide *:[word-spacing:0.8rem]">
            <p>{t('landing.line1')}</p>
            <p>{t('landing.line2')}</p>
        </div>
    </div>

    <!-- Read More Button -->
    <button id="more" class="transition-opacity duration-500 absolute left-1/2 -translate-x-1/2 bottom-2 flex flex-col gap-0.5 items-center opacity-70 animate-bounce hover:cursor-pointer">
        <span class="font-serif">SCROLL</span>
        <ChevronDownIcon size={16} />
    </button>

    <!-- About -->
    <div class="h-screen w-full font-serif px-24 flex flex-col gap-8 *:w-full" data-aos="fade-up" data-aos-duration="800" data-aos-anchor-placement="top-center">
        <div class="text-6xl">
            <h1 id="about" class="scroll-m-16">{t('about.title')}</h1>
        </div>
        <div class="px-16 flex flex-row justify-between *:flex *:flex-col *:gap-4">
            <div class="*:flex *:flex-col *:gap-3 *:p-3">
                <div data-aos="fade-right" data-aos-delay="100">
                    <h1 class="font-serif text-3xl">{t('about.introduction')}</h1>
                    <p>{t('about.introduction_text')}</p>
                </div>
                <div data-aos="fade-right" data-aos-delay="200">
                    <h1 class="font-serif text-3xl">{t('about.unemployed')}</h1>
                    <p>{t('about.unemployed_text')}</p>
                </div>
                <div data-aos="fade-right" data-aos-delay="300">
                    <h1 class="font-serif text-3xl">{t('about.interests')}</h1>
                    <p>{t('about.interests_text')}</p>
                </div>
                <div data-aos="fade-right" data-aos-delay="400">
                    <h1 class="font-serif text-3xl">{t('about.contact')}</h1>
                    <div class="flex flex-row gap-4">
                        <!--<a href="https://t.me/nnnnnoremac"><Telegram /></a>-->
                        <a href="mailto:cest@qnury.es"><Gmail /></a>
                        <a href="https://github.com/Qnurye"><Github /></a>
                    </div>
                </div>
            </div>
            <div class="flex-1 items-center *:flex *:flex-col *:gap-3 *:p-3">
                <div>
                    <h1 class="font-serif text-3xl">{t('about.tech_stack')}</h1>
                    <div class="*:flex *:flex-col *:gap-2 flex flex-col gap-4">
                        <div>
                            <h2>{t('about.tech_stack_proficient')}</h2>
                            <div class="flex flex-row gap-4">
                                <AstroIcon />
                                <NextjsIcon />
                                <SpringIcon />
                                <LaravelIcon />
                                <FastapiIcon />
                                <WechatIcon title="微信小程序" fill="currentColor" />
                                <MaterialdesignIcon />
                            </div>
                        </div>
                        <div>
                            <h2>{t('about.tech_stack_familiar')}</h2>
                            <div class="flex flex-row gap-4">
                                <LatexIcon />
                                <GinIcon />
                                <CodeigniterIcon />
                                <VueIcon />
                                <FigmaIcon />
                            </div>
                        </div>
                        <div>
                            <h2>{t('about.tech_stack_beginner')}</h2>
                            <div class="flex flex-row gap-4">
                                <GraphqlIcon />
                                <FlutterIcon />
                                <CmakeIcon />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio -->
    <div class="w-full font-serif px-24 flex flex-col gap-8 *:w-full" data-aos="fade-up" data-aos-duration="800">
        <div class="text-6xl">
            <h1 id="portfolio" class="scroll-m-16">{t('portfolio.title')}</h1>
        </div>
        <div class="px-16 flex flex-row gap-4 justify-around *:flex *:flex-col *:gap-4">
            <div data-aos="fade-up" data-aos-delay="300">
                <Project title="Test" description="test" date={new Date()} url={`https://picsum.photos/1200/1300`} />
                <Project title="你好你好你好你好你好你好" description="你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好" date={new Date()} url="https://picsum.photos/1200/1400" />
                <Project title="Test" description="test" date={new Date()} url="https://picsum.photos/1200/1100" />
                <Project title="Test" description="test" date={new Date()} url="https://picsum.photos/1200/900" />
            </div>
            <div data-aos="fade-up" data-aos-delay="400">
                <Project title="Test" description="test" date={new Date()} url="https://picsum.photos/1200/800" />
                <Project title="Test" description="test" date={new Date()} url="https://picsum.photos/1200/700" />
                <Project title="Test" description="test" date={new Date()} url="https://picsum.photos/1200/1500" />
                <Project title="Test" description="test" date={new Date()} url="https://picsum.photos/1300/1300" />
            </div>
            <div data-aos="fade-up" data-aos-delay="500">
                <Project title="Test" description="test" date={new Date()} url="https://picsum.photos/1100/1300" />
                <Project title="Test" description="test" date={new Date()} url="https://picsum.photos/1000/1300" />
                <Project title="Test" description="test" date={new Date()} url="https://picsum.photos/900/1300" />
                <Project title="Test" description="test" date={new Date()} url="https://picsum.photos/800/1300" />
            </div>
        </div>
    </div>

</Base>

<script>
    import AOS from 'aos';
    import 'aos/dist/aos.css';

    AOS.init({
        once: false,
        mirror: true,
        easing: 'ease-in-cubic',
    });

    document.getElementById('more')!.addEventListener('click', () => {
        window.scrollTo({
            top: window.innerHeight,
            behavior: 'smooth',
        });
    });

    window.addEventListener('scroll', () => {
        const moreButton = document.getElementById('more');
        if (window.scrollY > 0) {
            moreButton!.style.opacity = '0';
            moreButton!.style.pointerEvents = 'none';
        } else {
            moreButton!.style.opacity = '0.7';
            moreButton!.style.pointerEvents = 'auto';
        }
    });
</script>
