---
import Base from '@/layouts/Base.astro';
export { getI18nPaths as getStaticPaths } from '@/i18n';
import { getCollection } from 'astro:content';

const tags = (await getCollection('blog', p => p.data.locale === Astro.currentLocale))
  .reduce((acc, post) => {
    post.data.tags.forEach((tag) => {
      acc[tag] = (acc[tag] || 0) + 1;
    });

    return acc;
  }, {} as Record<string, number>);

---

<Base>
  <div
    class="w-full flex flex-col gap-8 *:w-full"
  >
    <div class="text-6xl font-serif">
      <h1 id="about" class="font-serif scroll-m-16">Tags</h1>
    </div>
    <ul class="mx-auto max-w-prose text-xl flex flex-col gap-4">
      {
        Object.entries(tags)
          .sort(([, countA], [, countB]) => countB - countA)
          .map(([tag, count]) => (
            <li class="flex justify-between font-mono items-center gap-16">
              <a href={`tags/${tag}`}>#{tag}</a>
              <div class="grow border-dashed border-1 border-neutral-100"></div>
              <span>{count}</span>
            </li>
          ))
      }
    </ul>
  </div>
</Base>
