---
import { CopyrightIcon, CodeIcon, MailboxIcon, RssIcon } from 'lucide-react';
import { Button } from './ui/button';
import { loadTranslations } from '@/i18n';
import { Image } from 'astro:assets';
import tail from '@/assets/tail.svg';
import { Markdown } from 'astro-remote';
import { getRelativeLocaleUrl } from 'astro:i18n';

const t = await loadTranslations(Astro.currentLocale);
---

<footer class="pt-8 mt-16 flex flex-col gap-4 border-t">
  <div class="flex flex-wrap gap-4 items-end">
    <Button variant="outline">
      <MailboxIcon />
      {t('footer.subscribe_newsletter')}
    </Button>
    <Button variant="outline">
      <RssIcon />
      {t('footer.rss')}
    </Button>
    <Button variant="outline">
      <CodeIcon />
      {t('footer.source_code')}
    </Button>
  </div>
  <span class="font-mono text-sm">
    <Markdown content={t('footer.credits')} />
  </span>
  <span class="flex gap-1 text-sm items-center">
    <CopyrightIcon size={20} strokeWidth={1} />
    <span>
    2025
      {t('footer.all_rights_reserved')}
    </span>
    <a href={encodeURI(getRelativeLocaleUrl(Astro.currentLocale || 'en', 'blog/tomb') + '#terms')}>
      <Button variant="link" asChild={true}>
        {t('footer.tos_pp')}
      </Button>
    </a>
  </span>
  <div class="w-full flex flex-row justify-center gap-8 h-2 overflow-auto">
    {Array(12).fill({}).map((_, __) =>
      (<Image src={tail} alt="" />),
    )}
  </div>
</footer>
