---
import { LanguagesIcon } from "lucide-react";
import { Button } from "./ui/button";
import {getLanguageFromLocale} from "@/i18n";
---

<Button variant='outline'>
  <LanguagesIcon />
  <span>{getLanguageFromLocale(Astro.currentLocale as string)}</span>
</Button>
