---
import Base from '@/layouts/Base.astro';
export { getStaticPaths } from '@/i18n';
import { getCollection } from 'astro:content';

const allBlogPosts = await getCollection('blog');
---

<Base>
  <h1>Blog</h1>
  <ul>
    {allBlogPosts.map(post => (
      <li>
        <a href={`${post.data.translation_id || post.id}`}>{post.data.title}</a>
      </li>
    ))}
  </ul>
</Base>
