---
import '@/styles/global.css';
import Nav from '@/components/Nav.astro';
import Footer from '@/components/Footer.astro';
import { cn } from '@/lib/utils';

const { title, className } = Astro.props;
const pageTitle = title || 'query.e\'s';
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <title>{pageTitle}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body class="px-1 sm:px-2 md:px-4 lg:px-8">
    <Nav />
    <main class={cn(className, 'min-h-screen scroll-smooth max-w-full px-4 sm:px-6 md:px-12 lg:px-24')}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
